/* *{
    --borderguide: 1px solid white;
} */

section#projects{
    min-height: 300vh;
    background-color: var(--blackcol);
    transform: translateY(-5rem);
    position: relative;
}

h1.projectstext{
    font-weight: 800;
    position: absolute;
    top:  4rem;
    font-size: max(1.8rem, 3vw);
    /* background: linear-gradient(150deg, var(--darkcol), var(--lightcol));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.stack{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.mongotext{
    color: #e9ff78;
}

.expresstext{
    color: rgb(239, 132, 239);
}

.reacttext{
    color: #75bee5;
}

.nodetext{
    color: #78ffa7;
}

.verceltext{
    color: #e6a461;
}


/* Large screens */
@media only screen and (min-width: 800px) {
    h1.projectstext{
        margin-left: 7rem;
    }   
}

/* Small screens */
@media only screen and (max-width: 799px) {
    h1.projectstext{
        margin-left: 5rem;
    } 
}
