/* *{
    --borderguide: 1px solid white;
} */

#about{
    width: max(100%, 100vw);
    border: var(--borderguide);
    background-image: var(--bg1);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-5rem);
}

.aboutbox{
    border: var(--borderguide);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 55vw, 800px);
}

.portrait{
    width: clamp(250px,80vw, 300px);
    border: var(--borderguide);
}

div.abouttext{
    border: var(--borderguide);
    width: clamp(250px, 80vw, 450px);
    padding: 2rem 0 ;
}

h2.aboutme{
    font-weight: 800;
    margin: 1rem 0;
    border: var(--borderguide);
    transition: transform .4s ease;

}

p.aboutmedescription{
    border: var(--borderguide);
    margin-bottom: .8rem;
}

a.resume{
    text-decoration: none;
}

p.resumep{
    transition: transform 0.1s ease-in-out;
    color: var(--lightcol);
    border: var(--borderguide);
    width: 120px;
}

p.resumep:hover{
    transform: scale(1.05);
    font-weight: 800;
}