/* 
121446
black       #0F102A
sky blue    #19B8E1
dark blue   #242C7D
blue        #1183C5
*/

/* 
black       #5b308c
sky red     #FB736B
dark blue   #D33867
red         #EC5B64
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --borderguide: 1px white solid;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    color: #f3f3f3;
    --borderguide: none;
}

/* .rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-wet paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 300 to 900 
 
  
.rubik-<uniquifier> {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}   */

:root.cold{
    --blackcol: #121446;
    --lightcol: #19B8E1;
    --mediumcol: #1183C5;
    --darkcol: #313a9f;
    color: #f0ffff;
    --img1 : url('../images/coldwave1.svg');
    --img2 : url("../images/coldwave2.svg");
    --img3 : url("../images/coldwave3.svg");
    --bg1 : url("../images/coldbackground.png");
    --border1: url('../images/coldborder1.svg');
    --border2: url('../images/coldborder2.svg');
    --border3: url('../images/coldborder3.svg');
    --theme : invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(110%) contrast(103%);
    --themenew :  invert(64%) sepia(82%) saturate(1394%) hue-rotate(152deg) brightness(90%) contrast(96%);

}

:root.warm{
    --blackcol: #5b308c;
    --lightcol: #FB736B;
    --mediumcol:#EC5B64;
    --darkcol:  #D33867;
    color: azure;
    --img1 : url('../images/warmwave1.svg');
    --img2 : url('../images/warmwave2.svg');
    --img3 : url('../images/warmwave3.svg');
    --bg1 : url('../images/warmbackground.png');
    --border1: url('../images/warmborder1.svg');
    --border2: url('../images/warmborder2.svg');
    --border3: url('../images/warmborder3.svg');
    --theme : invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(110%) contrast(103%);
    --themenew :  invert(55%) sepia(13%) saturate(2480%) hue-rotate(314deg) brightness(107%) contrast(97%);

}

body{
    z-index: 10;
    border: var(--borderguide);
    background-image: var(--bg1);
    background-size: cover;
    background-repeat: repeat-y;
    overflow-x: hidden;
}

header{
    z-index: 19;
    width: min(100vw, 100%);
    height: 95vh;

}

.hbackground{
    border: var(--borderguide);
    overflow-x: hidden;
    min-height: 100vh;
    z-index: 20;
}

.themecon{
    z-index: 90;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    position: sticky;
    top: 1rem;
    left: 1rem;
    background-color: var(--lightcol);
    transition: background-color .4s ease-out;

}
.themecon:hover{
    background-color: var(--mediumcol);
}

.theme{
    width: 2.5rem;
    filter: var(--theme);
    user-select: none;
    -webkit-user-drag: none;
}

.blobcon{
    position: absolute;
    top: 8vh;
    right: 0px;
    width: min(100vw, 100%);
    border: var(--borderguide);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.greet{
    border: var(--borderguide);
    width: max(350px, 40vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}

 /* hello */

p#greetingz {
    border: var(--borderguide);
    margin: 0 10px;
    width: max(250px, 30vw);
    aspect-ratio: 5 / 1;
    /* font-family: "Rubik", system-ui; */
    font-family: "Lobster", sans-serif;
    font-size: max(34px , 4vw);
    user-select: none;
    animation: colorchange 10s linear infinite;
}

@keyframes colorchange {
    0%{ color: eeeefc }
    15%{ color: var(--lightcol) }
    50%{ color: var(--darkcol) }
    85%{ color: var(--mediumcol) }
    100%{ color: eeeefc }
}

.relablob{
    width: max(350px, 50vw);
    border: var(--borderguide);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 66vh;
    animation: fadein 2s forwards ease-out;
    overflow: hidden ;
}


@keyframes fadein {
    0%{
        transform:scale(.7);
        opacity: 0;
    }
    100%{
        transform: translateY(-0%) scale(1);
        opacity: 1;
    }
}

div#theme-change{
    border-radius: 40%;
    display: flex;
    border: var(--borderguide);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    z-index: 21;
    margin: 0 12vw 0 12vw;
    font-size: max(1.1rem, 2vw);
    width: max(275px,25vw);
    aspect-ratio: 1 / .9;
    animation: wobble 10s infinite linear;
}

.theme-icon{
    filter: var(--theme);
    width: max(180px ,16vw);
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes wobble {
    0%{ transform: skewX(0deg) }
    30%{ transform: skewX(8deg) }
    50%{ transform: skewX(0deg) }
    75%{ transform: skewX(-8deg) }
    100%{ transform: skewX(0deg) }
}

.blob{
    position: absolute;
    width: max(350px,35vw);
    fill: var(--lightcol);
    transition: fill .8s;
    animation: blobspin 20s reverse ease-in infinite;
}

.blobglow{
    fill: var(--mediumcol)
}

.slow{
    animation: blobspin 30s alternate-reverse infinite;
}

.slower{
    animation: blobspin 25s linear infinite;
}


@keyframes blobspin {
    0%{ transform: rotate(0deg) scale(1) }
    40%{ transform: rotate(150deg) scale(.8) }
    100%{ transform: rotate(360deg) scale(1) }
}

p.clickme{
    transition: all .4s linear;
    user-select: none;
    -webkit-user-drag: none;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 700;
}

.disappear{
    opacity: 0;
}

.fade{
    opacity: 0;
}

.headfoot{
    z-index: 20;
    width: min(100vw, 100%);
    aspect-ratio: 5 / 1;
    border: var(--borderguide);
    background-image: var(--img1);
    background-size: auto 105%;
    background-repeat: no-repeat;
    animation: wavefade 16s infinite;
    transition: transform ease-in-out;
}

@keyframes wavefade {
    0%{
        background-image: var(--img1);
        transform: translateY(-95%);
    }
    20%{
        transform: translateY(-100%);
    }
    33%{
        background-image: var(--img2);
        transform: translateY(-105%);
    }
    50%{
        transform: translateY(-100%);
    }
    67%{
        background-image: var(--img3);
        transform: translateY(-95%);
    }
    83%{
        transform: translateY(-90%);
    }
    100%{
        background-image: var(--img1);
        transform: translateY(-95%);
    }
}



/* PROJECT SECTION */

*{
    /* --borderguide: 1px solid white; */
}

main{
    z-index: 30;
    background-color: var(--blackcol);
    min-height: 150vh;
}

h1.works{
    display: inline-block;
    z-index: 89;
    min-width: 270px;
    text-align: right;
    padding: 10px 35px;
    margin: min(100px, 10vw) 0 20vh 0;
    border-radius: 0 20px 20px 0;
    font-weight: 900;
    font-family: "Lobster", system-ui;
    position: sticky;
    top: 10px;
    background-color: var(--darkcol);
    animation: peek linear;
    animation-timeline: view();
}


@keyframes peek {
    0%{
        transform: translateX(-100%); opacity: 0;
    }
    10%{
        opacity: 0;
    }
    20%{
        transform: translateX(0%); opacity: .8;
    }
    100%{
        transform: translateX(0%); opacity: .8;
    }
}

.section1{
    border: var(--borderguide);
    width: 98vw;
    display: flex;
    justify-content: right;
    
}



.neoncon{
    border: var(--borderguide);
    border-radius: 20px;
    margin-right: 3vw;
    display: grid;
    grid-template: repeat(5, 16vh) / repeat(5, max(150px, 12vw));
    gap: 12px;
    animation: sec1peek ease-out forwards;
    animation-timeline: view();
}

@keyframes sec1peek {
    0%{
        transform: translateX(20%); opacity: 0;
    }
    
    20%{
        transform: translateX(5%); opacity: .9;
    }
    40%{
        transform: translateX(0%); opacity: 1;
    }
    60%{
        transform: translateX(0%); opacity: 1;
    }
    80%{
        transform: translateX(5%); opacity: .9;
    }
    100%{
        transform: translateX(30%); opacity: 0;
    }
}

.pc{

    border: var(--borderguide);
    border: 3px solid var(--lightcol);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pc.child1{
    border: 0px;
}

.pc.child2{
    background-color: var(--mediumcol);
    border: 0;
}

.bird{
    width: 120px;
    transition: transform 1s ease-in-out;
}

.pc.child2:hover .bird{
    transform: rotate(360deg);
}

.pc.child3{
    grid-column: span 2;
}

span.paper, span.cut{
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    transition: transform .2s ease-out;
}

.paper{
    color: var(--lightcol);
}

.pc.child3:hover span.cut{
    transform: translateX(20px);
}

.pc.child4{
    font-weight: 600;
    min-height: 100%;
}

.pc.child4:hover::after{
    content: "VISIT SITE";
}

.redirect{
    filter: var(--themenew);
    width: 60px;
}

.pc.child5{
    border: 0;
    grid-column: span 3;
    grid-row: span 3;
    overflow: hidden;
}

.mern{
    width: 100%;
    height: 100%;
    transform: scale(100%);
    transition: transform .3s ease-in;
}

.mern:hover{
    transform: scale(130%);
}

.pc.child6{
    grid-column: span 2;
    grid-row: span 2;
}

p.p1description{
    padding: 1vw;
}

.pc.child7{

}

.mongo{
    filter: var(--themenew) hue-rotate(10deg) brightness(120%);
    width: 130px;    
}

.pc.child8:hover .express{
    transform: rotate(360deg);
}

.express{
    filter: var(--themenew);
    width: 70px;
    transition: transform 1s ease-in-out;
}



.pc.child9{
    border: 0px;
    
}

.vercel{
    filter: var(--themenew);
    width: max( 130px, 50%); 
}

.react{
    filter: var(--themenew) hue-rotate(10deg) brightness(120%);
    width: 70px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




.node{
    filter: var(--themenew) hue-rotate(10deg) brightness(120%);
    width: 140px;
}

.pc.child10{
    grid-column: span 2;
}


@media (max-width: 875px) {
    .section1{
        justify-content: center;
    }
    .neoncon{
        display: grid;
        grid-template: repeat(8, 16vh) / repeat(3, max(150px, 12vw));

    }
    .pc.child1{ grid-column: span 2;}
    .pc.child9{ display: none;}
    .pc.child10{ grid-column: span 1;}
}




section.work-showcase1{
    margin: auto;
    width: min(100vw, 100%);
    padding: 5vh 0;
    border: var(--borderguide);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainspace{
    border: var(--borderguide);
    width: max(450px, 80vw);
    margin: auto;
    display: flex;
    animation: pop 1s ease-in forwards;
    animation-timeline: view();
}


@keyframes pop{
    0% { transform: scale(.7); opacity: 0;}
    45% { transform: scale(1); opacity: 1 ;}
    65% { transform: scale(1); opacity: 1 ;}
    100% { transform: scale(.7); opacity: 0;}
}



.fillerspace{
    width: 10vw;
    border: var(--borderguide);
    flex-shrink: 1;
}

.prod-description{
    border-radius: 40px;
    border: 3px solid var(--mediumcol);
    border-width: 3px 3px 0 3px;
    width: max(520px, 60vw);
    aspect-ratio: 5 / 3.2;
    padding-bottom: 10%;
    background-image: var(--border1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    animation: borderfade 15s linear infinite;
    margin: auto;
    padding: 2.5vw;
}

@keyframes borderfade {
    0%{
        background-image: var(--border1);
    }
    33%{
        background-image: var(--border3);
    }
    67%{
        background-image: var(--border2);
    }
    100%{
        background-image: var(--border1);
    }
}

.project1{
    border: var(--borderguide);
    padding-top: 2vh;
    
}

.projectpic{
    width: max(250px, 30vw);
    border: 1px solid var(--mediumcol);
    border-radius: 20px;
  
}

h2.project-name{
    color: white;
    font-weight: 500;
    margin: max(5px, 1vh) 0 10px max(10px, 3vh);
    font-size: max(16px, 1.5vw);
}

.desccon{
    border: var(--borderguide);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    padding-bottom: 7vh;
}

p.prod-descr{
    color: white;
    font-size: max(14px, 1.2vw);
    font-weight: 300;
    margin-left: max(3px, 10%);
}

.hrefcon{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

button.projlink{
    width: min(150px, 70%);
    padding: .3rem;
    margin: .7rem;
    background-color: var(--mediumcol);
    border: 1px solid var(--darkcol);
    border-radius: 10px;
    font-weight: 400;
}

button.projlink:hover{
    background-color: var(--lightcol);
}

#odin{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#odin:hover{
    color: var(--lightcol);
}










/* FOOTER PART */
*{
    /* --borderguide: 1px solid white; */
}

footer{
    border: var(--borderguide);
    display: flex;
    width: min(100vw, 100%);
    min-height: 50vh;
}

.portraitcon{
    width: max(475px, 55vw);
    border: var(--borderguide);
    display: flex;
    justify-content: center;
    align-items: center;
}

#portraitpic{
    margin: 0px 0px 0px max(1px, 3vw);
    border: var(--borderguide);
    width: max(200px, 20vw);
    height: max(200px, 20vw);
}

.aboutcon{
    border: var(--borderguide);
    margin: 0 max(1px, 3vw) 0 0;
    height: max(200px, 20vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2.about{
    margin: 5px 0;
    margin-right: auto;
    font-size: max(20px, 2vw);
    font-weight: 500;
}

p.aboutme{
    margin: 5px 0;
    font-size: max(16px, 1.1vw);
}


