/* *{
    --borderguide: 1px solid white;
    --borderguide: none;
} */

.header{
    background-image: var(--bg1);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    border: var(--borderguide);
    bottom: 3rem;
    z-index: 10;
}

.theme{
    width: 2.5rem;
    filter: var(--theme);
    user-select: none;
    -webkit-user-drag: none;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    border: var(--borderguide);
    width: 60vw;
    margin: auto;
    padding: 1.7rem 1px;
}

p.navigate{
    font-weight: 600;
    border: var(--borderguide);
    color: var(--mediumcol);
    text-align: center;
    transition: transform .1s ease-in;
    margin-left: .5rem;
    min-width: 80px;
}

p.navigate:hover{
    transform: scale(1.05);
    font-weight: 800;
}

.homecon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: var(--borderguide);
    width: 90vw;
    margin: auto;
    min-height: 70vh;
    overflow: hidden;
}

.greetbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: var(--borderguide);
    min-height: 35vh;
}

h1.hello{
    font-size: max(32px, 2.5vw);
}

h1.name{
    font-weight: 800;
    font-size: max(33px, 2.5vw);
    user-select: none;
    animation: colorchange 10s linear infinite;
}

@keyframes colorchange {
    0%{ color: eeeefc }
    15%{ color: var(--lightcol) }
    50%{ color: var(--darkcol) }
    85%{ color: var(--mediumcol) }
    100%{ color: eeeefc }
}

p.greetdescription{
    width: clamp(200px, 80vw, 530px);;
    margin-top: 3vh;
    font-size: max(14px, 1.1vw);
}

.blobbox{
    border: var(--borderguide);
    min-width: 50%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headfoot{
    z-index: 30;
    width: min(100vw, 100%);
    aspect-ratio: 5 / 1;
    border: var(--borderguide);
    background-image: var(--img1);
    background-size: auto 105%;
    background-repeat: no-repeat;
    animation: wavefade 16s infinite;
    transition: transform ease-in-out;
    position: absolute;
}

@keyframes wavefade {
    0%{
        background-image: var(--img1);
        transform: translateY(-35%);
    }
    20%{
        transform: translateY(-40%);
    }
    33%{
        background-image: var(--img2);
        transform: translateY(-45%);
    }
    50%{
        transform: translateY(-40%);
    }
    67%{
        background-image: var(--img3);
        transform: translateY(-45%);
    }
    83%{
        transform: translateY(-40%);
    }
    100%{
        background-image: var(--img1);
        transform: translateY(-35%);
    }
}