/* 
121446
black       #0F102A
sky blue    #19B8E1
dark blue   #242C7D
blue        #1183C5
*/

/* 
black       #5b308c
sky red     #FB736B
dark blue   #D33867
red         #EC5B64
*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 300;
  color: #f3f3f3;
}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 5px;
}

.cold, .warm{
  overflow-x: clip;
  position: relative;
  background-image: var(--bg1);
}

.cold{
  --blackcol: #121446;
  --lightcol: #19B8E1;
  --mediumcol: #1183C5;
  --darkcol: #313a9f;
  color: #f0ffff;
  --img1 : url('./Homepage/assets/coldwave1.svg');
  --img2 : url('./Homepage/assets/coldwave2.svg');
  --img3 : url('./Homepage/assets/coldwave3.svg');
  --bg1 : linear-gradient( 90deg, rgb(17, 23, 30), rgb(9, 18, 58));
  --border1: url('./Homepage/assets/coldborder1.svg');
  --border2: url('./Homepage/assets/coldborder2.svg');
  --border3: url('./Homepage/assets/coldborder3.svg');
  --theme : invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(110%) contrast(103%);
  --themecon : invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(80%) contrast(10%);
  --themenew :  invert(64%) sepia(82%) saturate(1394%) hue-rotate(152deg) brightness(90%) contrast(96%);
}

.warm{
  --blackcol: #5b308c;
  --lightcol: #FB736B;
  --mediumcol:#EC5B64;
  --darkcol:  #D33867;
  color: azure;
  --img1 : url('./Homepage/assets/warmwave1.svg');
  --img2 : url('./Homepage/assets/warmwave2.svg');
  --img3 : url('./Homepage/assets/warmwave3.svg');
  --bg1 : linear-gradient( 90deg, rgb(10, 5, 6), rgb(47, 6, 63));;
  --border1: url('./Homepage/assets/warmborder1.svg');
  --border2: url('./Homepage/assets/warmborder2.svg');
  --border3: url('./Homepage/assets/warmborder3.svg');
  --theme : invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(110%) contrast(103%);
  --themecon : invert(92%) sepia(1%) saturate(1618%) hue-rotate(141deg) brightness(80%) contrast(10%);
  --themenew :  invert(55%) sepia(13%) saturate(2480%) hue-rotate(314deg) brightness(107%) contrast(97%);
}

body{
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--darkcol);
}

a{
  text-decoration: none;
}

.themecon{
  border: var(--borderguide);
  z-index: 90;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: sticky;
  top: 1rem;
  left: 1rem;
  background-color: var(--lightcol);
  transition: background-color .4s ease-out;
}

.themecon:hover{
  background-color: var(--mediumcol);
}

.theme{
  width: 2.5rem;
  filter: var(--theme);
  user-select: none;
  -webkit-user-drag: none;
}

.fillerspace{
  width: 100%;
  height: calc(40vh - 1.6rem);
  background-color: var(--blackcol);
}